@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$red: #e12c30;
$red-2: #ce282b;
$gray: #f9f9f9;
$gray-2: #676767;
$fs18px: 1.125rem;
$fs30px: 1.875rem;
$fs35px: 2.1875rem;
$fs36px: 2.25rem;

body {
  font-family: "Open Sans", sans-serif;
}

button {
  color: #fff;
  background: linear-gradient(90deg, #12d01a 17.21%, #12d01a 78.69%);
  border-radius: 3.125rem;
  border: none;
  font-weight: 700;
  padding: 1rem;
  line-height: 2rem;
}

.container {
  padding: 0;
}
@include media-breakpoint-up(xs) {
  header {
    flex-direction: column-reverse;
    padding: 2rem;
    background-image: url(../assets/images/carros_avenida.png);
    h1 {
      font-size: $fs35px;
      font-weight: 800;
      color: $red;
      line-height: 143.5%;
    }
    button {
      font-size: $fs30px;
    }
  }

  .form {
    background-color: $red;
    div {
      border-radius: 1.5rem;
      background-color: $red-2;
      margin-bottom: 2rem;
      padding-top: 2rem;
    }
    iframe {
      padding: 2rem;
    }
    button {
      padding: 0.5rem 2rem 0.5rem 2rem;
      font-size: 1.2375rem;
    }
    input {
      width: 100%;
      border-radius: 1.5rem;
      border: none;
      padding: 1.6rem 0px 1.6rem 0.8rem;
      margin-bottom: 2rem;
      color: $gray-2;
      font-weight: 700;
      font-size: 1, 125rem;
    }

    form {
      margin: 1.4rem;
    }
  }

  .reasons {
    padding: 2rem;
    h2 {
      color: $gray-2;
      font-size: $fs30px;
      font-weight: 700;
      line-height: 41px;
      padding: 1.5rem 0px 1.3rem 0px;
    }
    .bg-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $gray;
      border-radius: 21.325px;
      padding: 2.5rem;
      margin-bottom: 2rem;
      .bg-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        background-color: $red;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 2rem;
        img {
          text-align: center;
          width: 58%;
          margin: 1.5rem;
        }
      }
      p {
        text-align: center;
        padding: 0px 1rem 0px 1rem;
        font-size: 1.5rem;
        line-height: 33px;
        color: $gray-2;
      }
    }
  }

  .vehicle {
    background-color: $red;
    padding: 2rem;
    h2 {
      font-size: $fs30px;
      text-align: center;
      font-weight: 800;
      color: #fff;
      margin: 1.2rem;
      line-height: 143.5%;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 143.5%;
      margin: 1.2rem;
      text-align: center;
      color: #fff;
    }
    img {
      margin-top: 2rem;
    }
  }

  .affiliate {
    text-align: center;
    span {
      color: $red;
    }
    p {
      color: $gray-2;
      font-size: $fs18px;
      line-height: 1.5rem;
      margin: 2rem 0px 2rem 0px;
      text-align: justify;
    }
    h3 {
      color: #676767;
      margin: 2rem 0px 2rem 0px;
      font-weight: 800;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      padding: 0px 2rem 0px 2rem;
    }
    button {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      padding: 0.4rem 2rem 0.4rem 2rem;
    }
    .content-1 {
      p {
        padding: 0px 2rem 0px 2rem;
      }
    }
    .content-2 {
      padding: 0px 2rem 2rem 2rem;
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    background-image: url(../assets/images/carros_avenida.png);
    background-size: cover;
    button {
      font-size: $fs30px;
    }
    h1 {
      font-size: $fs35px;
      font-weight: 800;
      color: $red;
      line-height: 143.5%;
    }

  }

  .form {
    background-color: $red;
    div {
      border-radius: 1.5rem;
      background-color: $red-2;
      margin-bottom: 2rem;
      padding-top: 2rem;
    }
    iframe {
      padding: 2rem;
    }
    button {
      padding: 0.5rem 2rem 0.5rem 2rem;
      font-size: 1.2375rem;
    }
    input {
      width: 100%;
      border-radius: 1.5rem;
      border: none;
      padding: 1.6rem 0px 1.6rem 0.8rem;
      margin-bottom: 2rem;
      color: $gray-2;
      font-weight: 700;
      font-size: 1, 125rem;
    }

    form {
      margin: 1.4rem;
    }
  }

  .reasons {
    padding: 2rem;
    h2 {
      color: $gray-2;
      font-size: $fs30px;
      font-weight: 700;
      line-height: 41px;
      padding: 1.5rem 0px 1.3rem 0px;
    }
    .bg-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $gray;
      border-radius: 21.325px;
      padding: 2.5rem;
      margin-bottom: 2rem;
      .bg-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        background-color: $red;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 2rem;
        img {
          text-align: center;
          width: 58%;
          margin: 1.5rem;
        }
      }
      p {
        text-align: center;
        padding: 0px 1rem 0px 1rem;
        font-size: 1.5rem;
        line-height: 33px;
        color: $gray-2;
      }
    }
  }

  .vehicle {
    background-color: $red;
    padding: 2rem;
    h2 {
      font-size: $fs30px;
      text-align: center;
      font-weight: 800;
      color: #fff;
      margin: 1.2rem;
      line-height: 143.5%;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 143.5%;
      margin: 1.2rem;
      text-align: center;
      color: #fff;
    }
    img {
      margin-top: 2rem;
    }
  }

  .affiliate {
    text-align: center;
    span {
      color: $red;
    }
    p {
      color: $gray-2;
      font-size: $fs18px;
      line-height: 1.5rem;
      margin: 2rem 0px 2rem 0px;
      text-align: justify;
    }
    h3 {
      color: #676767;
      margin: 2rem 0px 2rem 0px;
      font-weight: 800;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      padding: 0px 2rem 0px 2rem;
    }
    button {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      padding: 0.4rem 2rem 0.4rem 2rem;
    }
    .content-1 {
      p {
        padding: 0px 2rem 0px 2rem;
      }
    }
    .content-2 {
      padding: 0px 2rem 2rem 2rem;
    }
  }
}